.flex-33 {
    flex: 0 1 33.33%;
    width: 33.33%;

    +.flex-33 {
        margin-right: 4px;
    }
}

.middle-conatiner {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 8px 4px 8px;
}

.white-box {
    background: #fff;
    height: 100%;
    width: 100%;
}