@import "./../../../../theme/index";

.car-list {
    &__tab-list {}

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
        }
    }
}