<!-- begin::marketData -->
<div class="container">
  <app-market-data></app-market-data>
</div>
<!-- end::marketData -->

<!-- begin::svg-icon -->
<svg-icon key="close-circle" fontSize="50px"></svg-icon>
<!-- end::svg-icon -->

<!-- begin::liner-chart -->
<div class="container">
  <app-liner-chart [instrument]="instrument"></app-liner-chart>
</div>
<!-- end::liner-chart -->

<!-- begin::ag-grid -->
<div class="container">
  <app-ag-grid [columns]="gridCols" [rows]="gridRows"></app-ag-grid>
</div>
<!-- end::ag-grid -->

