<div class="tabs">
  <div class="tabs__header">
    <span
      *ngFor="let tab of tabListData; let index = index"
      class="tab-item"
      [ngClass]="{ active: tab.active }"
      (click)="changeTab(index)"
      >{{ tab.title }}</span
    >
  </div>
  <ng-container
    *ngComponentOutlet="
      componentActiveTab;
      injector: dynamicComponentInjectorValue
    "
  ></ng-container>

  <!-- <ng-template [ngComponentOutlet]="componentActiveTab; context: dynamicDataContext"></ng-template> -->
</div>
