<div class="main-input">
  <div [formGroup]="controlForm" class="main-input__box" *ngIf="controlForm; else useNgModel">
    <label class="label" for="controlName">{{label}}</label>
    <input [name]="controlName" class="input" [type]="getVisiblePassword ? 'text' : type" [placeholder]="placeHolder"
      [formControlName]="controlName" />

    <div class="icon">
      <svg-icon [key]="icon" [fontSize]="iconSize"></svg-icon>
    </div>

    <div [attr.aria-hidden]="getCheckType" *ngIf="getCheckType" (click)="onClickToggleVisiblePassword()"
      class="icon pw-icon">
      <svg-icon *ngIf="getVisiblePassword;else hiddenPasswordIcon" key="eye-slash" fontSize="18px"></svg-icon>

      <ng-template #hiddenPasswordIcon>
        <svg-icon key="eye" [fontSize]="iconSize"></svg-icon>
      </ng-template>
      <!-- <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.75 12.75V8.25L5.25 9.75" stroke="#616161" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M6.75 8.25L8.25 9.75" stroke="#616161" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M16.5 7.5V11.25C16.5 15 15 16.5 11.25 16.5H6.75C3 16.5 1.5 15 1.5 11.25V6.75C1.5 3 3 1.5 6.75 1.5H10.5"
          stroke="#616161" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M16.5 7.5H13.5C11.25 7.5 10.5 6.75 10.5 4.5V1.5L16.5 7.5Z" stroke="#616161" stroke-width="1.5"
          stroke-linecap="round" stroke-linejoin="round" />
      </svg> -->
    </div>

    <div *ngIf="prefixIcon" class="icon pw-icon">
      <svg-icon [key]="prefixIcon" [fontSize]="iconSize"></svg-icon>
    </div>
  </div>

  <ng-template #useNgModel>
    <div class="main-input__box">
      <label class="label" for="value">{{label}}</label>
      <input [name]="value" class="input" [type]="getVisiblePassword ? 'text' : type" [placeholder]="placeHolder"
        [(ngModel)]="value" (change)="onChangeValue($event)" />

      <div class="icon">
        <svg-icon [key]="icon" [fontSize]="iconSize"></svg-icon>

      </div>

      <div [attr.aria-hidden]="getCheckType" *ngIf="getCheckType" (click)="onClickToggleVisiblePassword()"
        class="visible-password-icon">
        <svg-icon *ngIf="getVisiblePassword;else hiddenPasswordIcon" key="eye-slash" fontSize="18px"></svg-icon>

        <ng-template #hiddenPasswordIcon>
          <svg-icon key="eye" [fontSize]="iconSize"></svg-icon>
        </ng-template>
      </div>

      <div *ngIf="prefixIcon" class="icon prefix-icon">
        <svg-icon [key]="prefixIcon" [fontSize]="iconSize"></svg-icon>
      </div>
    </div>
  </ng-template>
  <div class="main-input__error-container">
    <div *ngIf="controlForm; else noForm">
      <div class="error" *ngIf="checkErrors()">
        <small>{{ getErrors() }}</small>
      </div>
    </div>
    <ng-template #noForm>
      <div class="error" *ngIf="errorMessage">
        <small>{{ errorMessage }}</small>
      </div>
    </ng-template>
  </div>
</div>